# Editor & OS temp files
*.swp
*.swo
*.bak
*.tmp
.DS_Store
Thumbs.db

# Scripts, backups, and uploads
*.zip
*.tar
*.sh
*.log
*~
_tmpbkup/

# files for testing, and development
scripts/__pycache__
tests/__pycache__

# VS Code workspace files (optional)
.vscode/
.github/

# Python VENV
.venv/
